*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;        
    font-family: 'Roboto Mono', monospace;
}
body{
    margin: 0;
    
}
h1{ font-size: 4rem}
h2{ font-size: 3rem}
h3{ font-size: 2.5rem}
p{ font-size: 1.5rem}
ul{ list-style: none}
li{ font-size: 1.6rem;}
button{
    font-size: 1em;
    padding: 15px 15px;
    border-radius: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(17, 159, 159);
}
button:hover{   
    background-color: rgb(10, 96, 96);
    cursor: pointer;
}

.container{
    max-width: 1600px;
    margin: auto;
}

.color-acento{color: rgb(10, 96, 96)}

.inactive{
    display: none;
    margin-top: 0;
}

header .container{
    position:fixed;
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 4px;
    background-color: rgb(245,245,245);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.container .navbar-left{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    align-items: center;
    margin-left: 20px;
}
.container .navbar-left h2{
    margin-left: 20px;
    font-size: 1.8rem;
}
.container .navbar-left img{
    width: 230px;
}
.container .navbar-rigth{
    display: none;
}
.container .menu-mobile-bars{
    width: 50px;
    font-size: 2.9rem;
}
.container .menu-cantactame-desktop{
    display: none;
}

/* Menu mobile*/
.menu-mobile-container{
    position: fixed;
    z-index: 2;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background: rgb(246, 243, 243);
}
.menu-mobile-container h2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2.4rem;
    margin-bottom: 30px;
}
.menu-mobile-container #menu-mobile-close{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
} 
.menu-mobile-container .logo img{
    margin: 20px;
    width: 200px;
}
.menu-mobile-container h3{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.menu-mobile-container ul{
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
}
.menu-mobile-container li{
    margin-bottom: 30px;
}
.menu-mobile-container a{
    text-decoration: none;
    color: rgb(10, 96, 96);    
    font-size: 1.8rem;
}
.menu-mobile-container .menu-cantactame{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}
.menu-mobile-container .menu-cantactame a{
    margin: 10px 20px;
    font-size: 4rem;
}

/*Imagen principal*/
#hero{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    height: 100vh;
    color: rgb(245,245,245);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../images/hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero img{
    top:110px;
    height: 40%;
    margin: 20px 0;
}
#hero h1{
    font-size: 2.4rem;
    margin: 30px 0;
}
#hero button{
    font-size: 15px;
}


/*Soy Yo*/
#soy-yo{
    width: 100%;
}
#soy-yo .img-container{
    margin: 0px;
}

#soy-yo .container{
    text-align: justify;
    padding: 30px 12px;
}
#soy-yo .texto a{
    font-size: 1.4rem;
    color: rgb(6, 51, 51);
}
#soy-yo .soy-yo-extras{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}
#soy-yo .perseverancia, #soy-yo .amor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#soy-yo .perseverancia img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 50%;
}
#soy-yo .perseverancia p{
    font-size: 1.1rem;
    width: 80%;
}
#soy-yo .amor img{
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin: 10px 0;
}
#soy-yo .amor p{
    font-size: 1.1rem;
    width: 80%;
}




/* Proyectos*/

#mis-proyectos{
    background-color: rgb(6, 51, 51);
    color: rgb(245,245,245);
    text-align: center;
    width: 100%;
}

#mis-proyectos .container{
    padding-top: 20px;
    width: 100%;
}
#mis-proyectos h2{
    margin: 30px;
    font-size: 3.5rem;
}
#mis-proyectos .proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 10rem;
    width: 100%;
}
#mis-proyectos .carta{
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background: rgb(65, 67, 67);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
    color: rgb(250, 247, 247);
}
#mis-proyectos .carta img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    max-width: 400px ;
    border-radius: 20px;
    filter: brightness(90%);
    z-index: 0;
}
#mis-proyectos .carta img:hover{
    transform: scale(1.05);
    filter: brightness(100%);
}
#mis-proyectos .carta h3{
    margin: 10px 0;
    text-align: center;
}
#mis-proyectos .carta p{
    margin: 10px 0;
    text-align: justify;
}
#mis-proyectos .carta button{
    font-size: 1.4rem;
}

/*Tecnologias*/

#tecnologias{
    width: 100%;
    min-height: calc(100vh - 70px);
    margin-top: 20px;
}
#tecnologias .container{
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tecnologias .container .container-images-tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#tecnologias .container .container-images-tecnologias div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20%;
    background: rgb(6, 51, 51);
    font-size: 1.4rem;
    color: white;
    width: 80px;
}
#tecnologias .container .container-images-tecnologias img{
     width: 60px;     
     margin: 10px;     
}
#tecnologias .container .container-images-tecnologias div:hover{
    transform: scale(1.2);
    filter: brightness(100%);
}
#tecnologias .container .container-images-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#tecnologias .container  h3 a{
    font-size: 2rem;
    color: rgb(6, 51, 51);    
}
#tecnologias .container  h3 a:hover{
    font-size: 2.8rem;
    color: rgb(27, 181, 181);
}
#tecnologias .container .container-images-cursos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background: rgba(6, 45, 45, 0.896);
    width: 220px;
    height: 220px;
    max-width: 300px;
    border-radius: 20px;
}
#tecnologias .container .container-images-cursos p{
    margin: 10px 0;
    color: white;
    font-weight: bold;
    text-align: center;
}
#tecnologias .container .container-images-cursos button{
    font-size: 1.4rem;
    margin-bottom: 8px;
    height: 40px;
    display: flex ;
    align-items: center;
}
#tecnologias .container .container-images-cursos img{
    width: 80px;     
    margin: 10px;    
}
#tecnologias .container .container-images-cursos img:hover{
    filter: brightness(100%);
}

/*Contactanos*/
#contactanos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(6, 51, 51);
    color: rgb(245,245,245);
    height: 80vh;
}
#contactanos button{
    font-size: 1.4rem;
}

/*Footer*/
footer{    
    background-color: rgb(245,245,245);
    padding: 10px ;
    text-align: center;
}
footer .container{    
    color: rgb(8, 8, 9);
    font-weight: bold;
    font-size: 12px;    
}
footer #buttons-footer{
    min-width: 300px;
    display: flex;
    justify-content: center;
}
#buttons-footer a{
    text-decoration: none;
    font-size: 35px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(6, 51, 51);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
}
#buttons-footer a:hover{
    transform: scale(1.2);
}
@media(min-width:640px){
    .container .menu-mobile-bars{
        display: none;
    }
    .container .navbar-left{
        width: 30%;
    }
    .container .navbar-rigth{
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .container .navbar-rigth a{
        margin: 0 8px;
        display: flex;
        text-decoration: none;
        font-size: 1.8rem;
        color: rgb(10, 96, 96);
        font-weight: bold;       
    }
    #hero h1{
        font-size: 4rem;
    }
    #soy-yo .container{
        display: flex;
        justify-content: space-around;
    }
    #soy-yo .img-container{
        background-image: url(../images/foto2.png);
        background-repeat: none;
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
    }
    #soy-yo{
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #soy-yo .container{
        margin: 0;
    }
    #soy-yo .texto{
        width: 50%;
        padding: 0px 40px;
        max-width: 600px;
    }
    #soy-yo .soy-yo-extras{
        display: flex;
        flex-direction: row;
    }
    #soy-yo .perseverancia, #soy-yo .amor{
        width: 50%;
    }
    #soy-yo .perseverancia p, #soy-yo .amor p{
        font-size: 1.4rem;
    }
    #mis-proyectos .proyectos .carta{
        max-width: 300px;
        min-height: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #tecnologias .container .container-images-tecnologias div{
        width: 120px;
        
    }
    #tecnologias .container .container-images-tecnologias img{
        width: 80px;
        padding: 5px;
        border-radius: 50%;
    }
    #tecnologias .container .container-images-cursos div{
        width: 350px;
        height: 280px;
    }
}
@media(min-width:1200px){
    header .container{
        max-width: 100%;
    }
    .container .navbar-left .logo{
        margin-left: 20px;
    }
    .container .navbar-rigth{
        justify-content: end;
    }
    .container .navbar-rigth a:hover{
        color: rgb(17, 159, 159);
    }
    .container .menu-cantactame-desktop{
        display: block;
    }
    .container .menu-cantactame-desktop a{
        text-decoration: none;
        margin-right: 10px;
        font-size: 3.5rem;
        color: rgb(10, 96, 96);
        margin-right: 30px;
    }
    .container .navbar-rigth a:hover,
    .container .menu-cantactame-desktop a:hover{
        color: rgb(17, 159, 159);
    }
    #hero button{
        font-size: 2rem;
    }
    #soy-yo .container{
        width: 1200px;
    }
    #soy-yo .perseverancia, #soy-yo .amor{
        width: 600px;
    }
    #tecnologias .container .container-images-cursos button{
        font-size: 1.6rem;
    }
    #contactanos button{
        font-size: 2rem;
    }

}

